
  <!-- Breadcomb area Start-->
<div class="breadcomb-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="breadcomb-list">
          <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <div class="breadcomb-wp">
                <div class="breadcomb-icon">
                  <i class="notika-icon notika-windows"></i>
                </div>
                <div class="breadcomb-ctn">
                  <h2>My Dashboard</h2>
                  <p>Welcome to QUIZAPP<span class="bread-ntd"></span></p>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
              <div class="breadcomb-report">
                <button type="button" class="btn btn-success" onclick="location.href = '#';" > View Overall Progress </button>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Breadcomb area End-->
<!-- TEST TABLE BEGIN -->
  <div class="data-table-area">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="data-table-list">
              <div class="basic-tb-hd">
              </div>
              <div class="table-responsive">
                <div class="widget widget-table action-table">
                  <table id="test_table" class="table table-striped">
                    <thead>
                      <tr>
                        <th>Test Name</th>
                        <th>Test Info</th>
                        <th>Duration</th>
                        <th>Status</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let questionBank of questionBanks; let i = index">
                          <td> {{questionBank.questionBankName}} </td>
                          <td> {{questionBank.keyConcepts}} </td>
                          <td> {{questionBank.duration}} </td>
                          <td> Completed </td>
                        <td class="wrap" style="width:38%">
                          <button type="button" class="btn btn-primary" [routerLink]="['/test/'+ questionBank.questionBankID]">
                            Reattempt-Take Test
                          </button>&nbsp;&nbsp;
                          <button type="button" class="btn btn-success"
                          routerLink="/report/{{userID}}/reports/{{questionBank.questionBankID}}" >
                            View Report
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- TEST TABLE END-->
