<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>My Dashboard</title>
</head>


<body>
<!--The content below is only a placeholder and can be replaced.-->

<!-- BANNER BEGIN -->
<div class="header-top-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
          <div class="logo-area">
            <img src="" alt="" />
            <h4>ADAPTIVE PRACTICE TEST</h4>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12" *ngIf="userEmail">
          <div class="header-top-menu">
            <ul class="nav navbar-nav notika-top-nav">
              <li ngbDropdown class="nav-item dropdown">
                <a ngbDropdownToggle class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                  <i class="fa fa-user fa-fw"></i> Hi, {{userName}}
                  <i class="fa fa-caret-down"></i>
                </a>
                <ul ngbDropdownMenu class="dropdown-menu dropdown-user">
                  <li>
                    <a href="#">
                      <i class="fa fa-gear fa-fw"></i>
                      Change Password
                    </a>
                  </li>
                  <li class="divider"></li>
                  <li>
                    <a href="javascript:void(0);" (click)="logout()">Logout</a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- BANNER END -->

<router-outlet></router-outlet>

  <!-- FOOTER BEGIN-->
<div class="footer-copyright-area">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
          <div class="footer-copy-right">
            <p>Copyright © 2019. All rights reserved.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- FOOTER END -->

 
  </body>

  </html>
